@using MemberRMS.Models
@model Register
@{
    ViewBag.Title = "Register";
    List<SelectListItem> roles = new List<SelectListItem>
    {
        new SelectListItem()
        {
            Text = "Administrator",
            Value = "Administrator"
        }
    };
  
    };
}

<h2>Create new User</h2>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.LabelFor(m => m.Birthday, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control ", role = "datepicker", type = "date" })
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript">
            $(function() {
                

                $('#Birthday').datetimepicker({
                    format: 'L',
                    showClose: true,
                    showClear: true,
                    toolbarPlacement: 'top'
                });
            });

        </script>
        @Html.LabelFor(m => m.Telephone, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
       


        @Html.DropDownList("role", roles, "select a role")
        <button class="btn btn-primary">Create</button>
    }
</div>
