@using MemberRMS.Models
@model Register
@{
    ViewBag.Title = "Register";
    List<SelectListItem> roles = new List<SelectListItem>
    {
        new SelectListItem()
        {
            Text = "Visitor",
            Value = "Visitor"
        }
    };
    List<SelectListItem> gender = new List<SelectListItem>
    {
        new SelectListItem()
        {
            Text = "Male",
            Value = "Male"
        },
        new SelectListItem()
        {
            Text = "Female",
            Value = "Female"
        }
    };
}

<h2>Create new User</h2>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <label>Enter username</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        <label>Enter first name</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        <label>Enter last name</label>
         @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        <label>Enter birhtday</label>
         @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control" })
        <label>Enter telephone</label>
        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
       <label>Enter password</label>
        @Html.PasswordFor(m => m.Psssword, new { @class = "form-control" })
        @Html.DropDownList("role",roles,"select a role")
        @Html.DropDownList("gender", gender, "select a gender")
        <button class="btn btn-primary">Create</button>
    }
</div>
